{% extends "_layout.twig" %}

{% set pageTitle = 'About Us' %}
{% set pageClass = 'about' %}

{% block content %}
  {% include "partials/_header.html" %}
  
  <main>
    <section class="product-hero-block about-hero-block">
      <div class="container">
        <div class="about-motto">
          <div class="header-container">
            <h1 class="about-motto-header">A unique offer for each customer. <br> Every time. </h1>
            <img src="../assets/img/ellipse.svg" alt="">
          </div>
          <p class="about-motto-text">Our mission is to help every brand create evolving, lifelong 
            relationships with their customers, so brands can achieve long term business success.
          </p>
        </div>
      </div>
    </section>

    <section class="about-info">
      <div class="container">
        <div class="team-photos">
          <div class="photo-container">
            <img src="../assets/img/Staff-1.jpg" alt="Our team" class="team-photo">
          </div>
          <div class="photo-container">
            <img src="../assets/img/Staff-2.jpg" alt="Our team" class="team-photo">
          </div>
          <div class="photo-container photo-container-vertical">
            <img src="../assets/img/Staff-3.jpg" alt="Our team" class="team-photo">
          </div>
        </div>
      </div>
      
      <div class="container" style="max-width: 1310px;">
        <div class="story-block">
          <div class="text-container">
            <h2 class="story-header">Our <br> story</h2>
            <img src="../assets/img/story-breaker.svg" alt="">
            <p class="story-text"> It all started with a serendipitous meeting - a founder who joined 
              BCG Ventures looking to start a company using his decade of work focused on how machine 
              learning can improve customer experience, and a Fortune 100 company coming to BCG with the 
              aspiration to become the most personalized brand in the world. Five years, and many more 
              Fortune 100 customers, later Formation’s first SaaS platform was launched so companies of 
              all sizes can execute on a scaled, dynamic personalization strategy that creates deeper 
              relationships, brand profitability and nimble market execution.  
            </p>
          </div>
        </div>
      </div>
      
      <div class="leadership-block">
        <div class="container">
          <h2 class="leadership-header">Our leadership team</h2>
          <div class="leaderships-container">
            <div class="leader-card leader-card-1">
              <img src="../assets/img/Christian Selchau.jpg" alt="" class="leader-photo">
              <p class="leader-name">Christian Selchau-Hansen</p>
              <p class="leader-post">CEO and co-founder</p>
              <a href="#"><img class="leader-rofile" src="../assets/img/linkedin-logo.svg" alt="LinkedIn profile"></a>
              <div class="leader-info leader-info-1">
                <img src="../assets/img/leader-logo-1.svg" alt="" class="leader-logo">
                <p class="leader-descr"> <strong>Christian Selchau-Hansen</strong> is the CEO and co-founder of Formation, an 
                  enterprise software company that automates offer development and execution, enabling 
                  marketing teams to be more efficient and effective in engaging and retaining customers. 
                  A 20-year tech veteran, Christian has helped develop new products and drive growth using 
                  data at companies like Square and Zynga and was previously a Partner and Managing Director 
                  at BCG Digital Ventures. 
                </p>
              </div>
            </div>
            <div class="leader-card leader-card-2">
              <img src="../assets/img/Ty Lim.jpg" alt="" class="leader-photo">
              <p class="leader-name">Ty Lim</p>
              <p class="leader-post">Chief Growth Officer</p>
              <a href="#"><img class="leader-rofile" src="../assets/img/linkedin-logo.svg" alt="LinkedIn profile"></a>
              <div class="leader-info leader-info-2">
                <img src="../assets/img/leader-logo-2.svg" alt="" class="leader-logo">
                <p class="leader-descr"> <strong>Ty Lim</strong> is a builder, husband and father of two. As the Chief 
                  Growth Officer he runs Sales and Marketing teams at Formation.ai. Over the last 10 years Ty’s 
                  teams have helped build some of the fastest-growing category leaders, including Druva, Heptio 
                  (acquired by VMWare) and Portworx (acquired by Pure), delivering over $1B in sales pipeline and 
                  3X YoY revenue growth. Previous to that, Ty spent a decade in adtech building businesses that 
                  served the largest Fortune 500 brands.
                </p>
              </div>
            </div>
            <div class="leader-card leader-card-3">
              <img src="../assets/img/Max Dame.jpg" alt="" class="leader-photo">
              <p class="leader-name">Max Dame</p>
              <p class="leader-post">VP of Finance</p>
              <a href="#"><img class="leader-rofile" src="../assets/img/linkedin-logo.svg" alt="LinkedIn profile"></a>
              <div class="leader-info leader-info-3">
                <img src="../assets/img/leader-logo-3.svg" alt="" class="leader-logo">
                <p class="leader-descr"> <strong>Max Dame </strong>is the VP of Finance at Formation. Max has built 
                  and led finance teams at both startups and large global enterprises.  Prior to joining Formation,
                   Max was Director of Finance and Accounting at Kenandy, a Salesforce-backed enterprise SaaS business.
                     Early in his career Max built and led a finance team on 3 continents to support Schneider 
                     Electric, a fast growing multi-billion dollar datacenter business.  Max is a licensed CPA.
                </p>
              </div>
            </div>
            <div class="leader-card leader-card-4">
              <img src="../assets/img/Robert Fagnani.jpg" alt="" class="leader-photo">
              <p class="leader-name">Robert Fagnani</p>
              <p class="leader-post">VP of Business Development</p>
              <a href="#"><img class="leader-rofile" src="../assets/img/linkedin-logo.svg" alt="LinkedIn profile"></a>
              <div class="leader-info leader-info-4">
                <img src="../assets/img/leader-logo-4.svg" alt="" class="leader-logo">
                <p class="leader-descr"> <strong>Robert Fagnani</strong> is a founding team member of Formation and the
                   VP of Business Development. Rob has extensive experience working with executives across 
                   consumer-based industries on utilizing AI and automation to drive digital strategy, transformation, 
                   and value creation. He has created and managed partnerships with many of the world's top cloud 
                   infrastructure and martech providers, marketing agencies, and consulting firms. Prior to Formation, 
                   Rob worked at the Boston Consulting Group and was also an investor at Morgan Stanley.
                </p>
              </div>
            </div>
            <div class="leader-card leader-card-5">
              <img src="../assets/img/Praneet Mhatre.jpg" alt="" class="leader-photo">
              <p class="leader-name">Praneet Mhatre</p>
              <p class="leader-post">Senior Director of Engineering</p>
              <a href="#"><img class="leader-rofile" src="../assets/img/linkedin-logo.svg" alt="LinkedIn profile"></a>
              <div class="leader-info leader-info-5">
                <img src="../assets/img/leader-logo-5.svg" alt="" class="leader-logo">
                <p class="leader-descr"> <strong>Praneet Mhatre</strong> is the Senior Director of Engineering at 
                  Formation. Praneet is responsible for the Engineering organization which includes product engineering,
                   data science and analytics, customer integrations, and security. Praneet has a particular interest 
                   and proven expertise in unlocking the business value of data, having built machine learning 
                   solutions at scale prior to joining Formation as the company's first data hire. Prior to Formation 
                   he was a Senior Data Scientist at Zillow Group.
                </p>
              </div>
            </div>
            <div class="leader-card"></div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="break-line"></div>
      </div>
      
      <div class="values-block">
        <div class="container">
          <div class="values-content">
            <div class="left-side">
              <h2 class="values-header">Our Values</h2>
              <p class="values-text"> We’re here to build the next wave of continuous, data-driven 
                personalization for leading B2C brands. Our team is committed to doing that through:
              </p>
            </div>
            <div class="right-side">
              <div class="value-container">
                <div class="value-logo-container">
                  <img src="../assets/img/value-1.svg" alt="VMVP" class="value-logo">
                </div>
                <div class="value-descr">
                  <h3 class="value-header">Launch an MVP and iterate</h3>
                  <p class="value-text">We encourage speed an experimentation</p>
                </div>
              </div>
              <div class="value-container">
                <div class="value-logo-container">
                  <img src="../assets/img/value-2.svg" alt="Direct" class="value-logo">
                </div>
                <div class="value-descr">
                  <h3 class="value-header">Be direct</h3>
                  <p class="value-text">We address all topics head on</p>
                </div>
              </div>
              <div class="value-container">
                <div class="value-logo-container">
                  <img src="../assets/img/value-3.svg" alt="Customers" class="value-logo">
                </div>
                <div class="value-descr">
                  <h3 class="value-header">Create wildly successful customers</h3>
                  <p class="value-text">When our customers win, we win</p>
                </div>
              </div>
              <div class="value-container">
                <div class="value-logo-container">
                  <img src="../assets/img/value-4.svg" alt="Ownership" class="value-logo">
                </div>
                <div class="value-descr">
                  <h3 class="value-header">Take ownership</h3>
                  <p class="value-text">We are empowered to act as owners</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="break-line"></div>
        </div>

        <div class="join-block">
          <div class="container">
            <div class="join-content">
              <div class="left-side">
                <h2>Join Us</h2>
                <p>If you're up for the challenge of a lifetime, we're looking for 
                  outstanding talent to join our team.
                </p>
                <a href="#" class="btn request-btn careers-btn">Careers</a>
              </div>
              <div class="right-side">
                <img src="../assets/img/join-dog.png" alt="Friendly dog" class="join-image">
                <img src="../assets/img/ellipse-big.svg" alt="" class="ellipse">
                <img src="../assets/img/ellipse-big.svg" alt="" class="ellipse ellipse-2">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>

{% endblock %}

