{% extends "_layout.twig" %}

{% set pageTitle = '' %}
{% set pageClass = 'grocery' %}

{% block content %}
  {% include "partials/_header.html" %}
  
  <main>
    <section class="retail-hero-block hero-block grocery-hero-block">
      <div class="container">
        <div class="hero-inner">
          <div class="left-part">
            <p class="before-header">Grocery</p>
            <h1>Lock in your Share of Wallet with Dynamic Offer Optimization</h1>

            <p class="button-wrap">
              <a href="#" class="btn request-btn">Request a Demo</a>
            </p>
          </div>

          <div class="right-part">
            <img src="../assets/img/grocery-hero.svg" alt="">
          </div>
        </div>
      </div>
    </section>

    {% include "components/_business.twig" %}

    {% include "components/_case-stydy.twig" %}

    {% include "components/_slider.twig" %}

    {% include "components/_optimization.twig" %}

    {% include "components/_product-capabilites.twig" %}

    {% include "components/_footer-part.twig" %}

  </main>

{% endblock %}