{% extends "_layout.twig" %}

{% set pageTitle = '' %}
{% set pageClass = 'solution' %}

{% block content %}
  {% include "partials/_header.html" %}
  
  <main>
    <section class="product-hero-block solution-hero-block ">
      <div class="container">
      	<h1>Dynamic Offers solve for any of your business challenges</h1>
      	<p>Summary paragraph: 2-3 lines</p>
      	<a href="#" class="btn request-btn">Request a Demo</a>
      </div>
    </section>

    <div class="tabs-wrapper">
      <div class="container">
      <nav class="nav-tabs-wrap">
        <ul class="nav-tabs">
          <li class="active"><a href="#overview">Overview</a></li>
          <li><a href="#retail">Retail</a></li>
          <li><a href="#grocery">Grocery</a></li>
          <li><a href="#ecommerce">e-Commerce</a></li>
          <li><a href="#gamified-offers">Gamified Offers</a></li>
          <li><a href="#vendor-funded">Vendor Funded</a></li>
        </ul>
      </nav>

        <div class="tabs-info">
          <div id="overview" class="tab-pane active">
            <div class="tab-content">
              <h3>The Business Benefits of Dynamic Offer Optimization</h3>

              <div class="blocks">
                <div class="item">
                  <p class="imgWrap"><img src="../assets/img/dynamic-benefit.svg" alt=""></p>
                  <div class="text">
                    <h4>Dynamic Offers at Scale</h4>
                    <p>Machine-learning personalizes every single offer's action, reward and difficulty based on individual customer insights.</p>
                  </div>
                </div>
                <div class="item">
                  <p class="imgWrap"><img src="../assets/img/loyalty-benefit.svg" alt=""></p>
                  <div class="text">
                    <h4>Increased Loyalty Program Profitability</h4>
                    <p>Automated campaign optimization improves AOV, frequency and reward spend to increase offer ROI.</p>
                  </div>
                </div>
                <div class="item">
                  <p class="imgWrap"><img src="../assets/img/test-benefit.svg" alt=""></p>
                  <div class="text">
                    <h4>Test, Measure & Learn Faster</h4>
                    <p>Automate the iteration of campaigns over time, based on new behaviors, to ensure nimble market execution. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="retail" class="tab-pane">
            <div class="tab-content">
              <h3>retail</h3>
            </div>
          </div>
          <div id="grocery" class="tab-pane">
            <div class="tab-content">
              <h3>grocery</h3>
            </div>
          </div>
          <div id="ecommerce" class="tab-pane">
            <div class="tab-content">
              <h3>ecommerce</h3>
            </div>
          </div>
          <div id="gamified-offers" class="tab-pane">
            <div class="tab-content">
              <h3>gamified-offers</h3>
            </div>
          </div>
          <div id="vendor-funded" class="tab-pane">
            <div class="tab-content">
              <h3>vendor-funded</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="catalogue-wrapper">
      <div class="container">
        <h2>Offer Catalogue matched to your business objectives</h2>

        <div class="catalogue-table">
          <div class="item">
            <div style="background: #E3ECFC;">
              <p>Make a purchase</p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>

          <div class="item">
            <div style="background: #F4F6F8;">
              <p>Make a second purchase in a category, brand, product line, etc</p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>

          <div class="item">
            <div style="background: #F5EDE3;">
              <p>Increase frequency of purchases within a category, brand, product line, etc</p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>
          <div class="item">
            <div style="background: #F5F1EB;">
              <p>Increase spend per purchase</p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>

          <div class="item">
            <div style="background: #E3ECFC;">
              <p>Spend more than normal in a category, brand, product line, etc </p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>
          <div class="item">
            <div style="background: #F4F6F8;">
              <p>Increase the turnover of seasonal and/or overstocked products</p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>
          <div class="item">
            <div style="background: #E3ECFC;">
              <p>Increase frequency of purchases</p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>

          <div class="item">
            <div style="background: #F5EDE3;">
              <p>Make a purchase in a new category from a brand </p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>
          <div class="item">
            <div style="background: #F4F6F8;">
              <p>Lock-in spend or share-of-wallet</p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>
          <div class="item">
            <div style="background: #F4F6F8;">
              <p>Make a first purchase in a new category, product line, etc</p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>

          <div class="item">
            <div style="background: #E3ECFC;">
              <p>Make a first purchase of a brand or product line from a recent purchase category </p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>

          <div class="item">
            <div style="background: #F5EDE3;">
              <p>Increase onboarding actions that drive engagement (sign up, download app, fill out preferences, opt-in for marcomm)</p>
              <span class="triangle"></span>
              <p class="border"></p>
            </div>

            <div class="tooltip">
              <h3>Offer type</h3>
              <p>Description of the offer type</p>
              <h3>Example</h3>
              <p>Give a 2-3 line description of the example</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="guide-wrap">
      <div class="container">
        <div class="guide-wrap-inner">
          <div class="text-block">
            <h2>How-to make the transition from mass marketing to dynamic offers</h2>
            <a href="#" class="btn download-btn request-btn">Download the Guide</a>
          </div>

          <div class="image-block">
            <img src="../assets/img/Placeholder.png" alt="">
          </div>
        </div>
      </div>
    </section>

    {% include "components/_optimization.twig" %}

    {% include "components/_calculate.twig" %}

    {% include "components/_product-capabilites.twig" %}
    
  </main>

{% endblock %}

