<nav class="nav">
  <div class="nav__items">
    <div class="nav__item" data-item="product">
      <a href="product.html">Product</a>
    </div>
    <div class="nav__item" data-item="solutions">
      <a href="solution.html">Solutions</a>
    </div>    
    <div class="nav__item" data-item="why">
      <a href="#">Why Formation</a>
    </div>
    <div class="nav__item" data-item="company">
      <a href="" style="pointer-events: none" >Company</a>
      <div class="nav-arrow"></div>
      <div class="nav-sub nav-sub_company">
        <div class="nav-sub__column">
          <h3><a href="about.html">About</a></h3>
          <p>Small blurb about page</p>
        </div>
        <div class="nav-sub__column">
          <h3><a href="#">News</a></h3>
          <p>Small blurb about page</p>
        </div>
        <div class="nav-sub__column">
          <h3><a href="#">Careers</a></h3>
          <p>Small blurb about page, ex: “Join Us” </p>
        </div>
      </div>
    </div>
    <div class="nav__item" data-item="resources">
      <a href="" style="pointer-events: none">Resources</a>
      <div class="nav-arrow"></div>
      <div class="nav-sub nav-sub_resources">
        <div class="nav-sub__column nav-sub__column_overview">
          <h2>Overview</h2>
          <h3><a href="resources_overview.html">Resource Overview</a></h3>
          <p>Read about the latest in loyalty, gamification and offers, and learn how to get your brand started.</p>
        </div>
        <div class="nav-sub__column">
          <h2>Learn</h2>
          <h3><a href="#">What is the Future of Modern Loyalty</a></h3>
          <p>Small blurb about page</p>
          <h3><a href="#">How to XYZ</a></h3>
          <p>Small blurb about page</p>
          <h3><a href="#">Dynamic</a></h3>
          <p>Small blurb about page</p>
          <h3><a href="#">Podcast: Loyalty Confidential</a></h3>
          <p>Small blurb about page</p>
        </div>
        <div class="nav-sub__column">
          <h2>Blog</h2>
          <p>Check out the latest insights from Formation</p>
          <div class="nav-sub__column__block">
            <img src="../assets/img/mock-1.jpg" alt="Mock-1" class="nav-sub__column__block__img">
            <h3><a href="#">Guide Name</a></h3>
            <p>How to make personalized offers smarter & scalable</p>
          </div>
        </div>
      </div>
    </div>
    <div class="nav__item" data-item="community">
      <a href="#">Community</a>
    </div>
  </div>
</nav>




<!-- hamburger-menu -->
<div class="hamburger-menu">
  <span class="pointer-events-none"></span>
</div>




<nav class="mobile-nav">
  <div class="nav__items mobile-nav__items">
    <div class="nav__item mobile-nav__item" data-item="product">
      <a href="product.html">Product</a>
    </div>
    <div class="nav__item mobile-nav__item" data-item="solutions">
      <a href="solution.html">Solutions</a>
    </div>    
    <div class="nav__item mobile-nav__item" data-item="why">
      <a href="#">Why Formation</a>
    </div>
    <div class="nav__item mobile-nav__item" data-item="company">
      <a class="" href="" style="pointer-events: none" >Company</a>
      <div class="nav-arrow mobile-nav-arrow mobile-nav-arrow_company"></div>
      <div class="mobile-nav-sub nav-sub_company mobile-nav-sub_company">
        <div class="mobile-nav-sub__block">
          <h3><a href="about.html">About</a></h3>
          <p>Small blurb about page</p>
        </div>
        <div class="mobile-nav-sub__block">
          <h3><a href="#">News</a></h3>
          <p>Small blurb about page</p>
        </div>
        <div class="mobile-nav-sub__block">
          <h3><a href="#">Careers</a></h3>
          <p>Small blurb about page, ex: “Join Us” </p>
        </div>
      </div>
    </div>
    <div class="nav__item mobile-nav__item" data-item="resources">
      <a class="" href="" style="pointer-events: none">Resources</a>
      <div class="nav-arrow mobile-nav-arrow mobile-nav-arrow_resources"></div>
      <div class="mobile-nav-sub nav-sub_resources mobile-nav-sub_resources">
        <div class="mobile-nav-sub__block">
          <h2>Overview</h2>
          <h3><a href="resource_overview.html">Resource Overview</a></h3>
          <p>Small blurb about page</p>
        </div>
        <div class="mobile-nav-sub__block">
          <h2>Learn</h2>
          <h3><a href="#">What is the Future of Modern Loyalty</a></h3>
          <p>Small blurb about page</p>
          <h3><a href="#">How to XYZ</a></h3>
          <p>Small blurb about page</p>
          <h3><a href="#">Dynamic</a></h3>
          <p>Small blurb about page</p>
          <h3><a href="#">Podcast: Loyalty Confidential</a></h3>
          <p>Small blurb about page</p>
        </div>
        <div class="mobile-nav-sub__block">
          <h2>Blog</h2>
          <p>Small blurb about page, ex: “Join Us” </p>
          <div class="mobile-nav-sub__block__block">
            <img src="../assets/img/mock-1.jpg" alt="Mock-1" class="nav-sub__block__block__img">
            <h3><a href="#">Guide Name</a></h3>
            <p>Short description about guide</p>
          </div>
        </div>
      </div>
    </div>
    <div class="nav__item mobile-nav__item" data-item="community">
      <a href="#">Community</a>
    </div>
  </div>
</nav>