  <div class="hidden">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
      <!-- search-icon -->
      <symbol id="search-icon" viewBox="0 0 18 18">
        <path id="Shape" d="M0,7a7,7,0,1,1,7,7A7,7,0,0,1,0,7Z" fill="#00aeef"/>
        <path id="Path" d="M6.506,4.124,2.383,0A7.937,7.937,0,0,1,0,2.383L4.124,6.506A1.685,1.685,0,0,0,6.506,4.124Z" transform="translate(11 11)" fill="#00aeef"/>
      </symbol>
    </svg>
  </div>