/* Typography
================================================== */

// Fonts
$mainFont: 'HelveticaNeueCyr', sans-serif;

// Font Weight
$light: 300;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: $mainFont;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-color: $black;

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  @include font-size(16);
  transition: $transitionAll;
}

.bg-light-gray {
  background: $light-gray;
}

.bg-orange {
  background: $orange;
}