// Transition
$transitionAll: .25s all;
$transitionEase: .4s all ease;
$transitionEaseInOut: .25s all ease-in-out;
$transitionMenu: 0.5s;
$transitionResourcesMenu: .7s;
$transitionResourcesFilter: .75s;


// Pallete
$white: #fff;
$black: #000;
$orange: #F5F1EB;
$red: #F15D5B;
$light-gray: #F4F6F8;
$light-blue: #789DBF;
$middle-blue: #3361BB;
$dark-blue: #15326C;
$nav-color: #636363;
$blue: #508CC3;
$gray: #333333;
$menu-text: #8B8B8B;