<section class="benefits-wrapper {{ pageClass is defined ? pageClass : '' }}">
  <div class="container">
    <h2>Benefits</h2>

    <div class="benefits-wrapper--items">
      <div class="benefits-wrapper--item">
        <p class="img-wrap">
          <img src="../assets/img/dynamic-benefit.svg" alt="">
        </p>
        <h3>Dynamic Offers at Scale</h3>
        <p class="descr">Machine-learning personalizes every single offer's action, reward and difficulty based on individual customer insights.</p>
      </div>

      <div class="benefits-wrapper--item">
        <p class="img-wrap">
          <img src="../assets/img/loyalty-benefit.svg" alt="">
        </p>
        <h3>Increased Loyalty Program Profitability</h3>
        <p class="descr">Automated campaign optimization improves AOV, frequency and reward spend to increase offer ROI.</p>
      </div>

      <div class="benefits-wrapper--item">
        <p class="img-wrap">
          <img src="../assets/img/test-benefit.svg" alt="">
        </p>
        <h3>Test, Measure & Learn Faster</h3>
        <p class="descr"> Automate the iteration of campaigns over time, based on new behaviors, to ensure nimble market execution.</p>
      </div>
    </div>
  </div>
</section>