<div class="blog__hero-cont">
    <div class="blog__hero__image-cont">
        <img src={{ hero.link_to_img }} alt="Image" class="blog__hero__img">
        <img src="../assets/img/blog__hero_ellipse.svg" alt="" class="blog__hero__ellipse">
    </div>
    <div class="blog__hero__text-cont">
        <h1 class="blog__hero__header">{{ hero.header }}</h1>
        <span class="blog__hero__author">{{ hero.author }}</span>
        <span class="blog__hero__date">{{ hero.date }}</span>
    </div>

</div>