<section class="business-wrapper {{ pageClass is defined ? pageClass : '' }}">
  <div class="container">
    <div class="businnes-inner-wrap">
      <h2>Business <br/>Objectives</h2>

      <div class="items">
        <div class="item">
          <img src="../assets/img/in-store.png" alt="">
          <h3>Drive up in-store visits</h3>
          <p>Increase shopper frequency and engagement through all digital and offline channels with personalized, dynamic offers.</p>
        </div>

        <div class="item">
          <img src="../assets/img/cart.png" alt="">
          <h3>Cross-sell across categories or brands</h3>
          <p>Stretch loyal customers into new categories, brands or product lines with multi-action offers that drive new purchase behaviors. </p>
        </div>

        <div class="item">
          <img src="../assets/img/finance.png" alt="">
          <h3>Increase turnover of seasonal items</h3>
          <p>Accelerate purchases of seasonal items with dynamic offers that efficiently utilize your loyalty rewards </p>
        </div>
      </div>
    </div>
  </div>
</section>