<section class="calculate-wrapper {{ pageClass is defined ? pageClass : '' }}">
  <div class="container">
    <div class="calculate-inner">
      <div class="text-part">
        <h2>Calculate the total economic impact of adopting a personalized offer strategy</h2>

        <img src="../assets/img/arrow.svg" alt="">
      </div>

      <div class="calculator-img">
        <p class="imgWrap">
          <img src="../assets/img/Calculator.png" alt="">
        </p>
      </div>
    </div>
  </div>
</section>