<section class="caseStudy-block">
  <div class="container">
    <h2>Case study</h2>

    <div class="case-study-inner">

      <div class="image-block">
        <div class="imgWrap">
          <img src="../assets/img/case-study-2.jpeg" alt="">
        </div>
      </div>

      <div class="info-block">
        <p>A regional grocery chain differentiated themselves from larger national competition by implementing dynamic, personalized offers and was able to sustainably increase shopping frequency across their grocery, gas and convenience brands.</p>

        <div class="three-items">
          <div class="item">
            <p class="title">90%</p>
            <p class="descr">Automation & ML improved offer creation speed by 90% </p>
          </div>
          <div class="item">
            <p class="title">$5</p>
            <p class="descr">Personalized offers increased average revenue per visit by $5</p>
          </div>
          <div class="item">
            <p class="title">20%</p>
            <p class="descr">Optimization of offers increased in-store visits by loyalty members by 20%</p>
          </div>
        </div>

          <a href="#" class="btn request-btn">Read More</a>
      </div>
    </div>
  </div>
</section>