<section class="download-wrapper">
	<div class="container">
		<div class="inner-block">
			<div class="left-block">
				<div class="left-block-inner" style="background-image: url('../assets/img/download-img.jpeg') ;">
					<h3>Brands that adopt dynamic offers see revenue lift of up to 8%</h3>
				</div>
			</div>

			<div class="right-block">
				<h3>How-to make the transition from mass marketing to dynamic offers</h3>
				<p>Learn how to power the transition from mass discounts to dynamic offers, and elevate your brand above the competition.</p>
				<a href="#" class="btn download-btn">Download the Guide</a>
			</div>
		</div>
	</div>
</section>