<section class="features-block  {{ pageClass is defined ? pageClass : '' }}">
	<div class="container">
		<h2>Features</h2>

		<div class="features-repeater">
			<div class="item">
				<div class="imgWrap">
					<img src="../assets/img/offer.png" alt="">
				</div>

				<div class="textWrap">
					<h3>Productized offer types</h3>
					<p>A full catalog of offers that can be configured in minutes enable brands to identify the business challenge they need to solve, and launch a corresponding offer type the same day.</p>
					<a href="#" class="learn-more">Learn more ></a>
				</div>
			</div>

			<div class="item">
				<div class="imgWrap">
					<img src="../assets/img/configure.png" alt="">
				</div>

				<div class="textWrap">
					<h3>Multi-action state</h3>
					<p>Multi-action, gamified offers that span different time lengths and variable actions create an emotional connection with customers, deepening their brand loyalty.</p>
					<a href="#" class="learn-more">Learn more ></a>
				</div>
			</div>

			<div class="item">
				<div class="imgWrap">
					<img src="../assets/img/campaign.png" alt="">
				</div>

				<div class="textWrap">
					<h3>Automated generation of personalized offers at scale</h3>
					<p>The automated creation, fulfillment and measurement of personalized, dynamic offers provides marketers with more time to focus on strategic program elements.</p>
				</div>
			</div>

			<div class="item">
				<div class="imgWrap">
					<img src="../assets/img/optimization.png" alt="">
				</div>

				<div class="textWrap">
					<h3>Machine-learning optimization</h3>
					<p>Create continuous data-driven personalization, with machine-learning powered optimization capabilities, drives lifetime value for customers.</p>
				</div>
			</div>

			<div class="item">
				<div class="imgWrap">
					<img src="../assets/img/integration.png" alt="">
				</div>

				<div class="textWrap">
					<h3>Full-stack integration</h3>
					<p>Agnostic integrations that leverage all existing technologies and data sources enable teams to enrich personalized offers with every insight available.</p>
				</div>
			</div>
		</div>
	</div>
</section>