<section class="footer-block {{ pageClass is defined ? pageClass : '' }}">
	<div class="conteiner">
		<h2>How Formation Works for You</h2>
		<p>Learn how Formation’s platform can support your brand’s unique business challenges.</p>
		<a href="#" class="btn request-btn">Learn More</a>
	</div>
</section>