<div class="formattion__work-wrapper">
    <div class="formation-works">
        <div class="formation-works__text-area">
            <h2 class="formation-works__header">How Formation Works for You</h2>
            <p class="formation-works__text">Learn how Formation’s platform can support your brand’s unique business challenges.</p>
        </div>
        <img src="../assets/img/formation__works__arrow.svg" alt="" class="formation-works__arrow">
        <div class="formation-works__button-cont">
            <button class="btn request-btn action-btn formation-works__button">Request a Demo</button>
            <img src="../assets/img/formation__works__ellipse.svg" alt="">
        </div>
    
    </div>
</div>