<section class="logo-part">
  <div class="container">
    <h2>Brands that have made the transition to Dynamic Offer Optimization</h2>
    <p>More than 10B dynamic offers sent through the Formation Platform</p>

    <ul class="logo-wrap">
      <li><a href="#"><img src="../assets/img/UAL.png" alt=""></a></li>
      <li><a href="#"><img src="../assets/img/GEL.png" alt=""></a></li>
      <li><a href="#"><img src="../assets/img/Smiles.png" alt=""></a></li>
    </ul>
  </div>
</section>