<section class="lp-video-block-second">
	<div class="container">
		<div class="inner-block">
			<div class="left-part">
				<h2>How to Get Started</h2>
				<h3>Define Your Business Type</h3>
				<p>Making the shift from mass promotions to dynamic offers will be different for every brand. However, many similarities will hinge on whether your primary revenue strategy depends more heavily on discounts or on brand value.</p>

				<a href="#" class="btn request-btn">Download the Guide</a>
			</div>

			<div class="right-part">
				<img src="../assets/img/lp-video-block.png" alt="">
			</div>
		</div>
	</div>
</section>