<section class="hero-block {{ pageClass is defined ? pageClass : '' }}">
  <div class="container">
    <div class="hero-inner">
      <div class="left-part">
        <h1>Are your Loyalty Offers Modernized for the Digital Consumer? </h1>
        <p class="info">How to make personalized offers scalable and smarter with Dynamic Offer Optimization</p>

        <p class="button-wrap">
          <a href="#" class="btn request-btn">Download the Guide</a>
        </p>
      </div>

      <div class="right-part">
        <p class="changed-images">
          <img src="../assets/img/LP-hero.png" alt="">
        </p>
      </div>
    </div>
  </div>
</section>