<section class="lp-white-block lp-footer-part">
	<div class="container">
		<div class="inner-block">
			<div class="left-part">
				<h2>Ready to take the leap into dynamic offers? </h2>
				<p>Download the guide now for full details on how to evaluate your current loyalty tech stack, how to implement a test-and-learn approach to ensure program success, and how to align your people, processes and tech for dynamic success. </p>

				<a href="#" class="btn request-btn">Download the Guide</a>
			</div>

			<div class="right-part">
				<img src="../assets/img/lp-white-footer-img.png" alt="">
			</div>
		</div>
	</div>
</section>