<section class="best-practices">
	<div class="container">
		<h2>Three Best Practices for Shifting from Mass to Dynamic:</h2>

		<div class="blocks-wrap">
			<div class="item">
				<p class="imgWrap"><img src="../assets/img/lp-calculator.png" alt=""></p>
				<p>Short-term economic calculations limit long-term vision of personalization. Brands that succeed in this modern era use CLV as their key revenue metric for loyalty.</p>
			</div>

			<div class="item">
				<p class="imgWrap"><img src="../assets/img/lp-ladder.png" alt=""></p>
				<p>A customer loyalty ladder guides the relationship between brands & consumers. Companies that successfully drive ongoing loyalty tie dynamic offers to key business objectives and more deeply engage their customers. </p>
			</div>

			<div class="item">
				<p class="imgWrap"><img src="../assets/img/lp-light.png" alt=""></p>
				<p>Instigating a cultural shift can seem overwhelming, but a test-and-learn approach creates a natural progression from an innovative test  to a fully-fledged personalized offer strategy within your modern loyalty program. </p>
			</div>
		</div>
	</div>
</section>