<section class="personalized-block">
	<div class="container">
		<p class="main-title">$70B</p>
		<p class="blue-block">Personalized Offers are Worth $70B </p>
		<figure class="white-block">
			<blockquote>“Expanded use of personalized offers is an imperative… the next three years will see leading retailers shift from mass promotion to personalized offers at scale…leading to a top-line growth opportunity of more than $70 billion annually.”</blockquote>

			<figcaption>- BCG, The $70 Billion Prize in Personalized Offers</figcaption>
		</figure>
	</div>
</section>