<section class="lp-blue-block lp-footer-part">
	<div class="container">
		<div class="inner-block">
			<div class="left-part">
				<h2>Get started with Dynamic Offers Today</h2>
				<p>Formation’s team has worked with the world’s leading companies, and we’re leveraging that experience to help your brand get started, and avoid potholes, on the road to implementing a dynamic offer platform.</p>

				<a href="#" class="checklist-link">Get Your Quickstart Checklist</a>
			</div>

			<div class="right-part">
				<img src="../assets/img/lp-checklist.png" alt="">
			</div>
		</div>
	</div>
</section>