<section class="lp-video-block">
	<div class="container">
		<div class="inner-block">
			<div class="video-part">
				<h2>There is a <span class="line-wrap">big cost</span> to doing nothing</h2>

				<img src="../assets/img/lp-video-block.png" alt="">
			</div>

			<div class="text-part">
				<p>Mass offers are no longer helping make your brand an easy choice for customer loyalty. Brands that maintain their status quo with mass will rapidly lose brand equity and revenue, as competitors eat into your customer base.</p>

				<a href="#" class="download-btn">Download the Guide</a>
			</div>
		</div>
	</div>
</section>