<section class="two-blue-blocks">
	<div class="container">
		<div class="inner-block">
			<div class="left-block">
				<h2>Consumers Have <a href="#">Too Many Choices</a> and <a href="#">Too Little Time</a></h2>
				<p>Consumers loyalty is no longer assured, as shoppers have an infinite number of choices and their traditional shopping habits have been disrupted by COVID. Brands that find ways to make loyalty an easy choice will capture a greater share of wallet.</p>
			</div>

			<div class="right-block">
				<h2>75%</h2>
				
				<p>of US consumers changed their shopping behavior and shifted to new brands over the past 2 years</p>
			</div>
		</div>
	</div>
</section>