<section class="slider-wrapper slider-wrapper-second {{ pageClass is defined ? pageClass : '' }}" style="color: #fff;">
	<div class="owl-carousel">
		<div class="item" style="background-color: #789DBF;">
			<div class="item-inner">
				<div class="slider-part">
					<div class="before-header">Accomplish key business objectives with dynamic offers</div>

					<h2>Frequency</h2>

					<div class="slider-info">
						<div class="left-block">
							<p class="person-image-wrapper active" data-person="oliver">
								<img src="../assets/img/oliver-block.png" alt="">
							</p>
							<p class="person-image-wrapper" data-person="julie">
								<img src="../assets/img/julie-block.png" alt="">
							</p>
							<p class="person-image-wrapper" data-person="eric">
								<img src="../assets/img/eric-block.png" alt="">
							</p>
						</div>

						<div class="right-block">
							<div class="person-info active" data-id="oliver">
								<a href="#">
									<span class="photo"><img src="../assets/img/oliver.png" alt=""></span>
									<p class="bio-wrap">
										<span class="name">Oliver</span>
										<span class="bio">World-traveler, shops 3-4x per year, in multiple locations</span>
									</p>
								</a>
							</div>

							<div class="person-info" data-id="julie">
								<a href="#">
									<span class="photo"><img src="../assets/img/julie.png" alt=""></span>
									<p class="bio-wrap">
										<span class="name">Julie</span>
										<span class="bio">Fashionable executive, buys only luxury brands; shops 5-7x per year</span>
									</p>
								</a>
							</div>

							<div class="person-info" data-id="eric">
								<a href="#">
									<span class="photo"><img src="../assets/img/eric.png" alt=""></span>
									<p class="bio-wrap">
										<span class="name">Eric</span>
										<span class="bio">Sustainability-focused worker, used to shop 3x per year, now 1x per year</span>
									</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="item" style="background-color: #3361BB;">
			<div class="item-inner">
				<div class="slider-part">
					<div class="before-header">Accomplish key business objectives with dynamic offers</div>

					<h2>Cross-Sell</h2>

					<div class="slider-info">
						<div class="left-block">
							<p class="person-image-wrapper active" data-person="nick">
								<img src="../assets/img/nick-block.png" alt="">
							</p>
							<p class="person-image-wrapper" data-person="dara">
								<img src="../assets/img/dara-block.png" alt="">
							</p>
							<p class="person-image-wrapper" data-person="gabriella">
								<img src="../assets/img/gabriella-block.png" alt="">
							</p>
						</div>

						<div class="right-block">
							<div class="person-info active" data-id="nick">
								<a href="#">
									<span class="photo"><img src="../assets/img/nick.png" alt=""></span>
									<p class="bio-wrap">
										<span class="name">Nick</span>
										<span class="bio">Footwear aficionado, shops 3-4x per year across only 1 category</span>
									</p>
								</a>
							</div>

							<div class="person-info" data-id="dara">
								<a href="#">
									<span class="photo"><img src="../assets/img/dara.png" alt=""></span>
									<p class="bio-wrap">
										<span class="name">Dara</span>
										<span class="bio">Routine makeup shopper, shops 6x per year, highest spend at holidays</span>
									</p>
								</a>
							</div>

							<div class="person-info" data-id="gabriella">
								<a href="#">
									<span class="photo"><img src="../assets/img/gabriella.png" alt=""></span>
									<p class="bio-wrap">
										<span class="name">Gabriella</span>
										<span class="bio">Cooking enthusiast, shops 1-2x per year, only in kitchen department</span>
									</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="item" style="background-color: #15326C;">
			<div class="item-inner">
				<div class="slider-part">
					<div class="before-header">Accomplish key business objectives with dynamic offers</div>

					<h2>Digital Engagement</h2>

					<div class="slider-info">
						<div class="left-block">
							<p class="person-image-wrapper active" data-person="greg">
								<img src="../assets/img/greg-block.png" alt="">
							</p>
							<p class="person-image-wrapper" data-person="marc">
								<img src="../assets/img/marc-block.png" alt="">
							</p>
							<p class="person-image-wrapper" data-person="cara">
								<img src="../assets/img/cara-block.png" alt="">
							</p>
						</div>

						<div class="right-block">
							<div class="person-info active" data-id="greg">
								<a href="#">
									<span class="photo"><img src="../assets/img/greg.png" alt=""></span>
									<p class="bio-wrap">
										<span class="name">Greg</span>
										<span class="bio">Outdoorsman, 1st purchase was high-ticket, never shopped again</span>
									</p>
								</a>
							</div>

							<div class="person-info" data-id="marc">
								<a href="#">
									<span class="photo"><img src="../assets/img/marc.png" alt=""></span>
									<p class="bio-wrap">
										<span class="name">Marc</span>
										<span class="bio">Loyalty member, previously bought 3x per year, now only 1x per year </span>
									</p>
								</a>
							</div>

							<div class="person-info" data-id="cara">
								<a href="#">
									<span class="photo"><img src="../assets/img/cara.png" alt=""></span>
									<p class="bio-wrap">
										<span class="name">Cara</span>
										<span class="bio">Mom of 3, shops 3-4x a year across multiple family categories</span>
									</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>