<section class="optimization-wrapper bg-light-gray {{ pageClass is defined ? pageClass : '' }}">
  <div class="decoration-block">
    <div class="arcs"></div>
  </div>
  <div class="container">
    <div class="optimization-inner">
      <div class="left-part">
        <h2>Drive up to $96 Million with Dynamic Offer Optimization </h2>
        <p class="mark">*Based on a $1B loyalty program</p>
      </div>

      <div class="right-part">
        <ul>
          <li>
            <span class="percent">$80 million</span>
            <p class="info">
              <span class="descr">$80 million in sustainable revenue lift</span>
            </p>
          </li>
          <li>
            <span class="percent">$15 million</span>
            <p class="info">
              <span class="descr">$15 million in reward spend efficiency savings</span>
            </p>
          </li>
          <li>
            <span class="percent">$1 million</span>
            <p class="info">
              <span class="descr">$1 million in operational efficiency savings</span>
            </p>
          </li>
          <li>
            <p class="info">
              <span class="title">Evaluate the economic impact dynamic offers can have on your busines</span>
              <a href="#" class="btn request-btn">Calculate Now</a>
            </p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>