<section class="optimization-wrapper bg-orange">
  <div class="decoration-block">
    <p class="first-line"></p>
    <p class="second-line">
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
    </p>
  </div>
  <div class="container">
    <div class="optimization-inner">
      <div class="left-part">
        <h2>The Value of Dynamic Offer Optimization</h2>
      </div>

      <div class="right-part">
        <ul>
          <li>
            <span class="percent">2-8%</span>
            <p class="info">
              <span class="title">Sustainable Revenue Lift</span>
              <span class="descr">From increased purchase frequency, order value, and conversions</span>
            </p>
          </li>
          <li>
            <span class="percent">40-60%</span>
            <p class="info">
              <span class="title">Reward Spend Efficiency</span>
              <span class="descr">From optimizing reward spend for each individual vs. mass offers</span>
            </p>
          </li>
          <li>
            <span class="percent">100x</span>
            <p class="info">
              <span class="title">Faster Test & Learn</span>
              <span class="descr">Self-service SaaS product removes manual work associated with executing offers</span>
            </p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>