<section class="personalization-wrapper">
	<div class="container">
		<div class="info">
			<h2>Personalization at scale, at the click of a button</h2>

			<p>Machine learning personalizes every customer’s offer's action, reward and difficulty based on individual customer insights without additional operational overhead.</p>
		</div>
	</div>

	<p class="imgWrap">
		<img src="../assets/img/personaliztion.png" alt="">
	</p>
</section>