<section class="profitability-slider">
  <div class="container">
    <div class="profitability-slider-inner">
      <div class="text-block">
        <h2>Adapt to changing behaviors with dynamic offer optimization</h2>
        <p class="after-slider-header">Machine learning continuously optimizes offers to improve AOV, frequency and reward spend that increases offer ROI</p>
      </div>

      <div class="slider-block">
        <div class="slider-block-inner">
        
          <div class="owl-carousel">
            <div class="item">
              <span class="title">Dynamic (Unoptimized)</span>
              <img src="../assets/img/slide1.png" alt="">
            </div>

            <div class="item">
              <span class="title">Dynamic (Optimized)</span>
              <img src="../assets/img/slide2.png" alt="">
            </div>

            <div class="item">
              <span class="title">Dynamic (Optimized)</span>
              <img src="../assets/img/slide3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>