<section class="product-capabilites-wrapper {{ pageClass is defined ? pageClass : '' }}">
  <div class="container">
    <h2>Product Capabilites Overview</h2>

    <div class="product-wrap">
      <div class="item">
        <div class="title">
          <p class="imgWrap"><img src="../assets/img/icon-1.png" alt=""></p>
          <h3>Productized offer types</h3>
        </div>
        <p class="description">Description (2-3 lines)</p>
        <a href="#" class="learn-more">Learn more ></a>
      </div>

      <div class="item">
        <div class="title">
          <p class="imgWrap"><img src="../assets/img/icon-2.png" alt=""></p>
          <h3>Multi-action state</h3>
        </div>
        <p class="description">Description (2-3 lines)</p>
        <a href="#" class="learn-more">Learn more ></a>
      </div>

      <div class="item">
        <div class="title">
          <p class="imgWrap"><img src="../assets/img/icon-3.png" alt=""></p>
          <h3>Automated generation of personalized offers at scale</h3>
        </div>
        <p class="description">Description (2-3 lines)</p>
        <a href="#" class="learn-more">Learn more ></a>
      </div>

      <div class="item">
        <div class="title">
          <p class="imgWrap"><img src="../assets/img/icon-4.png" alt=""></p>
          <h3>Machine-learning optimization</h3>
        </div>
        <p class="description">Description (2-3 lines)</p>
        <a href="#" class="learn-more">Learn more ></a>
      </div>

      <div class="item">
        <div class="title">
          <p class="imgWrap"><img src="../assets/img/icon-5.png" alt=""></p>
          <h3>Full-stack integration</h3>
        </div>
        <p class="description">Description (2-3 lines)</p>
        <a href="#" class="learn-more">Learn more ></a>
      </div>

      <div class="item">
        <div class="title">
          <p class="imgWrap"><img src="../assets/img/icon-6.png" alt=""></p>
          <h3>Test, measure, and learn</h3>
        </div>
        <p class="description">Description (2-3 lines)</p>
        <a href="#" class="learn-more">Learn more ></a>
      </div>
    </div>
  </div>
</section>