<div class="related-posts">
    <h2 class="related-posts__header">Related Posts</h2>
    <div class="related-posts__line"></div>
    <div class="related-posts__post-cont">
        {% for post in posts %}
            <div class="resources__preview__item">
                {% include "./_resources-block-item.twig" with {resource: post} %}
            </div>
        {% endfor %}
    </div>
</div>