<div class="resources__menu">
    <a href="resources_theme.html" class="resources__menu__item resources__menu__item_modernize" data-partition="modernize">
        <h2>How to Modernize Loyalty Offers</h2>
        <p>Learn practical, how-to steps to advance your offer 
            strategy and turn offers from a tactic into a strategic, revenue-driving lever.</p>
        <div>
            <p>Advance your strategy &#8594</p>
        </div>
    </a>
    <a href="#" class="resources__menu__item resources__menu__item_offers" data-partition="offers">
        <h2>Dynamic Offers in Action</h2>
        <p>See how Formation’s Dynamic Offer Platform enables 
            leading brands to increase revenue & engagement.</p>
        <div>
            <p>Learn more &#8594</p>
        </div>

    </a>
    <a href="#" class="resources__menu__item resources__menu__item_future" data-partition="future">
        <h2>The Future of Modern Loyalty</h2>
        <p>Formation’s leaders are at the forefront of loyalty 
            trends - learn what’s on the horizon for innovative loyalty leaders.</p>
        <div>
            <p href="#">Discover trends &#8594</p>
        </div>
    </a>
</div>

