<div class="resources__search">
    <div class="resources__search__filter">
        <div class="resources__search__filter__item" data-category="type">
            <span>Content Type</span>
            <div class="filter__arrow" data-category="type-arrow"></div>
            <div class="filter__sub">
                <div class="filter__wrapper">
                    <div class="filter__sub__item" data-filter="webinars">Webinars</div>
                    <div class="filter__sub__item" data-filter="videos">Videos</div>
                    <div class="filter__sub__item" data-filter="blogs">Blogs</div>
                    <div class="filter__sub__item" data-filter="reports">Reports</div>
                    <div class="filter__sub__item" data-filter="case-studies">Case Studies</div>
                    <div class="filter__sub__item" data-filter="press-release">Press Releases</div>
                    <div class="filter__sub__item" data-filter="media-articles">Media Articles</div>
                    <div class="filter__sub__item" data-filter="podcasts">Podcasts</div>
                </div>
            </div>
        </div>

        <div class="resources__search__filter__item" data-category="topic">
            <span>Content Topic</span>
            <div class="filter__arrow" data-category="topic-arrow"></div>
            <div class="filter__sub">
                <div class="filter__wrapper">
                    <div class="filter__sub__item" data-filter="chemistry">Chemistry</div>
                    <div class="filter__sub__item" data-filter="psycology">Psycology</div>
                    <div class="filter__sub__item" data-filter="physics">Physics</div>
                    <div class="filter__sub__item" data-filter="math">Math</div>
                    <div class="filter__sub__item" data-filter="biology">Biology</div>
                    <div class="filter__sub__item" data-filter="healt">Health</div>
                    <div class="filter__sub__item" data-filter="everything">Everything</div>
                    <div class="filter__sub__item" data-filter="example">Example</div>
                </div>
            </div>
        </div>


        <div class="resources__search__filter__item" data-category="author">
            <span>Author</span>
            <div class="filter__arrow" data-category="author-arrow"></div>
            <div class="filter__sub">
                <div class="filter__wrapper">
                    <div class="filter__sub__item" data-filter="smith">Smith</div>
                    <div class="filter__sub__item" data-filter="john">John</div>
                    <div class="filter__sub__item" data-filter="bob">Bob</div>
                    <div class="filter__sub__item" data-filter="moke">Mike</div>
                    <div class="filter__sub__item" data-filter="kate">Kate</div>
                    <div class="filter__sub__item" data-filter="jane">Jane</div>
                    <div class="filter__sub__item" data-filter="spilberg">Spilberg</div>
                    <div class="filter__sub__item" data-filter="lisa">Lisa</div>
                    <div class="filter__sub__item" data-filter="cristian">Cristian</div>
                    <div class="filter__sub__item" data-filter="jake">Jake</div>
                    <div class="filter__sub__item" data-filter="helen">Helen</div>
                    <div class="filter__sub__item" data-filter="justin">Justin</div>
                    <div class="filter__sub__item" data-filter="alice">Alice</div>
                    <div class="filter__sub__item" data-filter="noname">Noname</div>
                    <div class="filter__sub__item" data-filter="somebody">Somebody</div>
                </div>
            </div>
        </div>
    </div>


    <div class="resources__search__search-cont">
        <input type="text" class="resources__search__input">
        <a href="resources_content.html" class="resources__search__link">
            <img src="../assets/img/resources__search.svg" alt="" class="resources__search__search-icon">
        </a>
    </div>
</div>



    